@use "~src/styles/abstracts/variables" as *;
@use "~src/styles/abstracts/mixins" as *;

:host{
  background: white;
  @include border-radius;
  @include shadow;
  display: grid;
  grid-template-columns: auto 7.2rem;
  font-size: 2.4rem;
}
.total{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding:0 2.4rem;
}

button{
  border: 0;
  @include border-radius;
  background-color: $color-primary-dark;
  font-weight: 900;
  letter-spacing: 0.1rem;
  color: white;
  cursor: pointer;
  grid-area: 1 / 1 / span 1 / span 2;

  &:not(.topup){
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: $color-primary-accent;
    grid-area: initial;
  }

  &[disabled]{
    background-color: rgba($color-primary-accent, 0.3);
    cursor: not-allowed;
  }
}
