<section class="popup">
  <div class="items">
    <div class="table-outer">
      <div class="table">
        <app-table-item *ngFor="let item of (cart$ | async)" [item]="item"></app-table-item>
      </div>
    </div>
    <div class="total">
      <div class="caption">Total:</div>
      <div class="value">{{ (total$ | async) | intCurrency }}</div>
    </div>
  </div>
  <div class="actions">
    <button class="badge" [disabled]="false">
      badge
      <span class="balance">balance: {{99 | intCurrency}}</span>
    </button>
    <button class="top-up">
      top up
    </button>
  </div>
</section>
