@use "~src/styles/abstracts/variables" as *;
@use "~src/styles/abstracts/mixins" as *;


:host{
  z-index: 1;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.16);
  display: grid;
  grid-template: auto minmax(400px, 70vh) auto / auto minmax(400px, 60vw) auto;
  grid-template-areas:
    ". . ."
    ". content ."
    ". . .";

}
.popup{
  background: white;
  grid-area: content;
  @include border-radius;
  @include shadow;
  display: grid;
  grid-template-columns: 4fr 1fr;
  overflow: hidden;
  height: 100%;
}
.items{
  display: grid;
  grid-template-rows: auto 6rem 6rem;
  height: 100%;
  overflow: hidden;
}
.table{
  width: 100%;
  height: 100%;
  overflow: scroll;
  padding: 0 2.4rem 1.2rem 2.4rem;

  &-outer{
    padding-top: 2.4rem;
    height: 100%;
    overflow: hidden;
  }

}
.top-up{
  border-top: 1px solid rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  padding: 0 0 0 2.4rem;

  &.auto-inserted{
    input{
      background-color: $color-primary-light;
      color: white;
    }
  }

  input{
    align-self: stretch;
    padding: 0 2.4rem;
    text-align: right;
    border: none;
    outline: none;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0,0,0,0.02);
    line-height: 1;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &[type=number] {
      -moz-appearance: textfield;
    }
  }
}
.total{
  background-color: rgba(0,0,0,0.1);
  padding: 0 2.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  .value{
    font-weight: 900;
  }
}
.actions{
  display: grid;
  grid-template-rows: 1fr;
}

button{
  outline: none;
  border: none;
  font-size: 2.4rem;
  font-weight: 900;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.badge{
  background-color: $color-primary-accent;
  color: white;

  &[disabled]{
    background-color: rgba($color-primary-accent, 0.3);
  }
}
.balance{
  font-weight: 500;
  font-size: 1.4rem;
  letter-spacing: 0;
  color: rgba(255,255,255, 0.8);
  text-transform: none;
}

