@use "~src/styles/abstracts/mixins" as *;

:host{
  height: 100%;

  @include shadow;
  @include border-radius;
  background: white;
  overflow: hidden;
}
.items{
  height: 100%;
  overflow: scroll;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
